body{
    background-color: white;
    color: black;
    padding-left: 10px;
    padding-right: 20px;
}
#america{
    text-align: center;
    color: #24d342f7;
}
#america1{
    color: black;
    background-color: #3eff04fb;
    position: absolute;
    height: 900px;
    width: 400px;
    right: 0px;
    top: 0px;
}
#america2{
    left: 0px;
    width: 65%;
}
#right{
    position: absolute;
    right: 0px;
    background-color: #3eff04fb;
    width: 400px;
    height: 300px;
    top: 900px;
}
#idolos{
    position: absolute;
    right: 0px;
    background-color: #3eff04fb;
    width: 400px;
    height: 300px;
    top: 1200px;
}
#jogos{
    position: absolute;
    right: 0px;
    background-color: #3eff04fb;
    width: 400px;
    height: 500px;
    top: 1500px;
}
