body{
    background-color: black;
    color: white;
    width: 65%;
    padding-left: 10px;
    padding-right: 20px;
}
#galo{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 3000px;
    width: 400px;
    background-color: white;
    color: black;
}